<script>
    $(function () {
        $('.account-table').DataTable({
            searching: false,
            ordering: false,
            info: false,
            lengthChange: false,
            pageLength: 20,
            language: {
                emptyTable: '暂无数据'
            }
        });
    });

    // 搜索
    function searchAccount() {
        let comment_status = $('#comment-status option:selected').val(),
            status = $('#status option:selected').val(),
            keyword = $('#keyword').val();

        window.location.href = '{{urlfor "AccountController.Get"}}' + '?cs=' + comment_status + '&s=' + status + '&key=' + keyword;
    }

    // 修改用户的评论状态
    function changeCommentStatus(id, status) {
        swal({
            title: '确定要执行此操作吗？',
            buttons: ['取消', '确定'],
            icon: 'warning'
        }).then(function (opt) {
            if (opt) {
                $.post('{{urlfor "AccountController.ChangeCommentStatus"}}', {
                    _xsrf: GToken,
                    id: id,
                    status: status
                }, function (data) {
                    ajaxRequestSuccess(data);
                }, 'json')
            }
        });
    }

    // 修改用户状态
    function changeUserStatus(id, status) {
        swal({
            title: '确定要执行此操作吗？',
            buttons: ['取消', '确定'],
            icon: 'warning'
        }).then(function (opt) {
            if (opt) {
                $.post('{{urlfor "AccountController.ChangeStatus"}}', {
                    _xsrf: GToken,
                    id: id,
                    status: status
                }, function (data) {
                    ajaxRequestSuccess(data);
                }, 'json')
            }
        });
    }
</script>