<script>
    function addTag(obj) {
        let modal = $(obj).parents('.modal'),
            name = modal.find('#name').val();

        $.post('{{urlfor "TagController.Post"}}', {
            _xsrf: GToken,
            name: name,
        }, function (data) {
            if (data.code !== 200) {
                modal.find('.error').text(data.msg)
            } else {
                window.location.reload();
            }
        }, 'json')
    }

    // 显示编辑的模态框
    function showEditModal(obj, id) {
        let tr = $(obj).parents('tr'),
            name = tr.find('.tag-name').text(),
            modal = $('#edit-modal');

        modal.find('#id').val(id);
        modal.find('#name').val(name);
        modal.modal();
    }

    // 编辑标签
    function editTag(obj) {
        let modal = $(obj).parents('.modal'),
            id = modal.find('#id').val(),
            name = modal.find('#name').val();

        $.post('{{urlfor "TagController.UpdateTag"}}', {
            _xsrf: GToken,
            id: id,
            name: name,
        }, function (data) {
            if (data.code !== 200) {
                modal.find('.error').text(data.msg);
            } else {
                window.location.reload();
            }
        }, 'json')
    }

    // 删除标签
    function deleteTag(id) {
        if (window.confirm('确定要删除吗？删除后无法恢复！！！')) {
            $.post('{{urlfor "TagController.DeleteTag"}}', {
                _xsrf: GToken,
                id: id
            }, function (data) {
                if (data.code !== 200) {
                    alert(data.msg);
                }

                window.location.reload();
            }, 'json')
        }
    }
</script>

