<script>
    $(function () {
        // select框
        let config = {
            '.chosen-select': {width: "100%"},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-width': {width: "95%"}
        };
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $('.admin-log-table').DataTable({
            searching: false,
            ordering: false,
            info: false,
            lengthChange: false,
            pageLength: 20,
            language: {
                emptyTable: '暂无数据'
            }
        });
    });

    // 搜索功能
    function searchAdminLog() {
        let method = $('#method option:selected').val(),
            result = $('#result option:selected').val(),
            manager = $('#manager').val(),
            keyword = $('#keyword').val();

        window.location.href = '{{urlfor "LogController.Get"}}' + '?m=' + method + '&r=' + result + '&o=' + manager + '&key=' + keyword;
    }

    // 显示详情
    function showDetail(obj) {
        let modal = $('#detail-modal'),
            tr = $(obj).parents('tr');

        modal.find('.content').html(tr.find('.content').html());
        modal.find('.ip').html(tr.find('.ip').html());
        modal.find('.url').html(tr.find('.url').html());
        modal.find('.method').html(tr.find('.method').html());
        modal.find('.query').html(tr.find('.query').html());
        modal.find('.headers').html(tr.find('.headers').html());
        modal.find('.body').html(tr.find('.body').html());
        modal.find('.response').html(tr.find('.response').html());
        modal.find('.result').html(tr.find('.result').html());
        modal.find('.reason').html(tr.find('.reason').html());
        modal.find('.createdAt').html(tr.find('.createdAt').html());
        modal.modal();
    }

</script>