<script>
    $(function () {
        // select框
        let config = {
            '.chosen-select': {width: "100%"},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-width': {width: "95%"}
        };
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $('.email-log-table').DataTable({
            searching: false,
            ordering: false,
            info: false,
            lengthChange: false,
            pageLength: 15,
            language: {
                emptyTable: '暂无数据'
            }
        });
    });

    // 搜索功能
    function searchAdminLog() {
        let emailType = $('#email-type option:selected').val(),
            result = $('#result option:selected').val(),
            keyword = $('#keyword').val();

        window.location.href = '{{urlfor "LogController.Get"}}' + '?et=' + emailType + '&r=' + result + '&key=' + keyword;
    }

    // 显示详情
    function showDetail(obj) {
        let modal = $('#detail-modal'),
            tr = $(obj).parents('tr');

        modal.find('.content').html(tr.find('.content').html());
        modal.modal();
    }

</script>