<script>
    $(function () {
        $('#keyword').on('keyup', function (e) {
            if (e.keyCode === 13) {
                search();
            }
        })
    });

    // 搜索
    function search() {
        let comment_status = $('#comment-status option:selected').val(),
            status = $('#status option:selected').val(),
            keyword = $('#keyword').val();

        window.location.href = '{{urlfor "admin.UserController.Get"}}' + '?cs=' + comment_status + '&s=' + status + '&key=' + keyword;
    }

    // 修改用户的评论状态
    function changeCommentStatus(id, status) {
        if (window.confirm('确定执行此操作吗？')) {
            let token = $('input[name=_xsrf]').val();
            $.post('{{urlfor "admin.UserController.ChangeCommentStatus"}}', {
                _xsrf: token,
                id: id,
                status: status
            }, function (data) {
                if (data.code !== 200) {
                    alert(data.msg);
                } else {
                    window.location.reload();
                }
            }, 'json')
        }
    }

    // 修改用户状态
    function changeUserStatus(id, status) {
        if (window.confirm('确定执行此操作吗？')) {
            let token = $('input[name=_xsrf]').val();
            $.post('{{urlfor "admin.UserController.ChangeStatus"}}', {
                _xsrf: token,
                id: id,
                status: status
            }, function (data) {
                if (data.code !== 200) {
                    alert(data.msg);
                }

                window.location.reload();
            }, 'json')
        }
    }
</script>