<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <h5>草稿箱</h5>
                </div>
            </div>
            <div class="ibox-content">
                {{.xsrfdata}}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>标题</th>
                            <th>所属栏目</th>
                            <th>标签</th>
                            <th>封面</th>
                            <th>是否轮播</th>
                            <th>是否推荐</th>
                            <th>允许评论</th>
                            <th>点赞数</th>
                            <th>作者</th>
                            <th>发布时间</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $index, $article := .articles}}
                            <tr>
                                <td>{{$index | add 1}}</td>
                                <td>{{$article.Title}}</td>
                                <td>{{$article.Category.Name}}</td>
                                <td>
                                    {{range $t := $article.Tags}}
                                        <label class="label label-info"><i class="fa fa-tag"></i> {{$t.Name}}</label>
                                    {{end}}
                                </td>
                                <td>
                                    <img src="/uploads/{{$article.Cover}}" width="250" alt="">
                                </td>
                                <td>
                                    {{if $article.IsScroll}}
                                        <label for="" class="label label-primary">轮播</label>
                                    {{else}}
                                        <label for="" class="label label-danger">不轮播</label>
                                    {{end}}
                                </td>
                                <td>
                                    {{if $article.IsRecommend}}
                                        <label for="" class="label label-primary">推荐</label>
                                    {{else}}
                                        <label for="" class="label label-danger">不推荐</label>
                                    {{end}}
                                </td>
                                <td>
                                    {{if $article.AllowComment}}
                                        <label for="" class="label label-primary">允许</label>
                                    {{else}}
                                        <label for="" class="label label-danger">不允许</label>
                                    {{end}}
                                </td>
                                <td>{{$article.FavorNum}}</td>
                                <td>{{$article.Manager.Nickname}}</td>
                                <td>{{dateformat $article.CreatedAt "2006-01-02 15:04:05"}}</td>
                                <td>{{dateformat $article.UpdatedAt "2006-01-02 15:04:05"}}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm btn-outline">编辑</button>
                                    <button class="btn btn-success btn-sm btn-outline">转为草稿</button>
                                    <button class="btn btn-danger btn-sm btn-outline">删除</button>
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>