{{assets_js "/js/wangEditor.min.js"}}
<script>
    let E = window.wangEditor,
        filename = 'file',
        editor = new E('#editor');

    // 自定义菜单
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        'image',  // 插入图片
        'table',  // 表格
        'code',  // 插入代码
        'undo',  // 撤销
        'redo'  // 重复
    ];
    // 隐藏网络图片
    editor.customConfig.showLinkImg = false;
    // 显示本地上传
    editor.customConfig.uploadImgShowBase64 = true;
    // 定义图片上传路径
    editor.customConfig.uploadImgServer = '{{urlfor "ArticleController.UploadImage"}}';
    // 定义图片上传名称
    editor.customConfig.uploadFileName = filename;
    // 定义图片上传参数
    editor.customConfig.uploadImgParams = {
        _xsrf: GToken,
        type: 'content'
    };
    // 定义图片上传之后的插入功能
    editor.customConfig.uploadImgHooks = {
        customInsert: function (insertImg, result, editor) {
            insertImg('/uploads/' + result.data);
        }
    };
    editor.create();
    editor.txt.html('{{.article.Content}}');

    $(function () {
        // 高亮菜单
        highlightMenu('/articles');

        $('.upload_button').on('click', function () {
            $('input.cover').click();
        });
    });

    /**
     * 添加文章
     * @param obj
     */
    function updateArticle(obj) {
        let form = $(obj).parents('.article_form'),
            id = form.find('#id').val(),
            title = form.find('#title').val(),
            keyword = form.find('#keyword').val(),
            categoryId = form.find('[name=category]:checked').val(),
            checkedTag = form.find('[name=tags]:checked'),
            tags = [],
            description = form.find('#description').val(),
            cover = form.find('#cover').val(),
            content = $.trim(editor.txt.html()),
            isScroll = form.find('[name=is_scroll]:checked').val(),
            isRecommend = form.find('[name=is_recommend]:checked').val(),
            allowComment = form.find('[name=allow_comment]:checked').val();

        checkedTag.each(function () {
            tags.push($(this).val())
        });

        $.ajax({
            url: form.attr('action'),
            type: 'post',
            dataType: 'json',
            data: {
                _xsrf: GToken,
                id : id,
                title: title,
                keyword: keyword,
                categoryId: categoryId,
                tags: tags.join(','),
                description: description,
                cover: cover,
                content: content,
                isScroll: isScroll,
                isRecommend: isRecommend,
                allowComment: allowComment,
            },
            success: function (data) {
                if (data.code !== 200) {
                    form.find('.error').text(data.msg);
                } else {
                    window.location.href = '{{urlfor "ArticleController.Get"}}';
                }
            },
            error: function () {
                form.find('.error').text('系统错误，请联系管理员');
            }
        })
    }

    /**
     * 显示添加栏目的label
     * @param obj
     */
    function showAddCategoryLabel(obj) {
        let container = $('.category-container'),
            label = '<label class="radio-inline"><input type="radio" name="category" class="category-radio"><input type="text" ' +
                'class="category-name" ' +
                'onblur="addCategory(this)"> <span class="notice text-danger"></span></label>';

        container.append(label);
        container.find('.category-name').focus();
    }

    /**
     * 显示添加标签的label
     */
    function showAddTagLabel() {
        let container = $('.tag-container'),
            label = '<label for="" class="checkbox-inline"><input type="checkbox" name="tags" class="tag-checkbox"><input type="text" ' +
                'class="tag-name" ' +
                'onblur="addTag(this)' +
                '"> <span class="notice text-danger"></span></label>';

        container.append(label);
        container.find('.tag-name').focus();
    }

    /**
     * 上传封面图
     * @param obj
     */
    function showImgPreview(obj) {
        let files = $(obj)[0].files;

        if (files.length > 0) {
            let file = files[0],
                fd = new FormData();

            fd.append("_xsrf", GToken);
            fd.append(filename, file);
            fd.append('type', 'cover');

            $.ajax({
                url: '{{urlfor "ArticleController.UploadImage"}}',
                type: 'post',
                dataType: 'json',
                data: fd,
                success: function (data) {
                    if (data.code !== 200) {
                        alert(data.msg);
                    } else {
                        $('#cover').val(data.data);
                        $('.cover_preview').attr('src', '/uploads/' + data.data);
                        $('.cover_preview_div').show();
                    }
                },
                error: function () {
                    alert('系统错误，请联系管理员');
                },
                processData: false,
                contentType: false
            })
        }
    }

    /**
     * 添加栏目
     * @param obj
     */
    function addCategory(obj) {
        let name = $(obj).val();

        if (name.length > 0) {
            $.post('{{urlfor "CategoryController.Post"}}', {
                _xsrf: GToken,
                name: name,
            }, function (data) {
                if (data.code === 200) {
                    $(obj).prev('.category-radio').attr({'checked': true, 'value': data.data});
                    $(obj).replaceWith(name);
                } else {
                    $(obj).next('.notice').text(data.msg);
                    $(obj).focus();
                }
            }, 'json')
        } else {
            $(obj).parent('.radio-inline').remove();
        }
    }

    /**
     * 添加标签
     * @param obj
     */
    function addTag(obj) {
        let name = $(obj).val();

        if (name.length > 0) {
            $.post('{{urlfor "TagController.Post"}}', {
                _xsrf: GToken,
                name: name,
            }, function (data) {
                if (data.code === 200) {
                    $(obj).prev('.tag-checkbox').attr({'checked': true, 'value': data.data});
                    $(obj).replaceWith(name);
                } else {
                    $(obj).next('.notice').text(data.msg);
                    $(obj).focus();
                }
            }, 'json')
        } else {
            $(obj).parent('.checkbox-inline').remove();
        }
    }
</script>