<script>
    $(function () {
        // select框
        let config = {
            '.chosen-select': {width: "100%"},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-width': {width: "95%"}
        };
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $('.article-table').DataTable({
            searching: false,
            ordering: false,
            info: false,
            lengthChange: false,
            pageLength: 20,
            language: {
                emptyTable: '暂无数据'
            }
        });
    });

    /**
     * 查询文章
     */
    function searchArticle() {
        let category = $('#category').val(),
            isScroll = $('#isScroll').val(),
            allowComment = $('#allowComment').val(),
            isRecommend = $('#isRecommend').val(),
            status = $('#status').val(),
            keyword = $('#keyword').val();

        window.location.href = '{{urlfor "ArticleController.Get"}}' + '?c=' + category + '&s=' + isScroll + '&ac=' + allowComment + '&r=' +
            isRecommend + '&st=' + status + '&k=' + keyword;
    }

    /**
     * 撤回/发布文章
     * @param id
     * @param status
     */
    function changeStatus(id, status) {
        swal({
            title: '确定要执行此操作吗？',
            buttons: ['取消', '确定'],
            icon: 'warning'
        }).then(function (opt) {
            if (opt) {
                $.post('{{urlfor "ArticleController.ChangeStatus"}}', {
                    _xsrf: GToken,
                    id: id,
                    status: status
                }, function (data) {
                    ajaxRequestSuccess(data);
                }, 'json')
            }
        })
    }

    /**
     * 删除文章
     * @param id
     */
    function deleteArticle(id) {
        swal({
            title: '确定要删除吗？',
            buttons: ['取消', '确定'],
            icon: 'warning'
        }).then(function (opt) {
            if (opt) {
                $.post('{{urlfor "ArticleController.Delete"}}', {
                    _xsrf: GToken,
                    id: id,
                }, function (data) {
                    ajaxRequestSuccess(data);
                }, 'json');
            }
        })
    }
</script>