#系统相关
appname =
httpport =
runmode =
appurl =
apptitle =

#admin默认密码
defaultpassword =
#admin默认邮箱
defaultemail =

#xsrf相关
enablexsrf =
xsrfexpire =

#session 相关
sessionon =
sessionprovider =
sessionproviderconfig =
sessionname =
sessiongcmaxlifetime =

#redis相关
redis_host =
redis_password =

#邮件相关
email_host =
email_port =
email_from_name =
email_from_address =
email_password =
manager_email =

[dev]
#aes相关
aes_key =
#数据库相关
db_host =
db_name =
db_user =
db_password =

[prod]
#aes相关
aes_key =
#数据库相关
db_host =
db_name =
db_user =
db_password =
