<script>
    $(function () {
        let config = {
            '.chosen-select': {width: "100%"},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-width': {width: "95%"}
        };
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $('.record-table').DataTable({
            searching: false,
            ordering: false,
            info: false,
            lengthChange: false,
            pageLength: 15,
            language: {
                emptyTable: '暂无数据'
            }
        });
    });

    /**
     * 搜索评论
     */
    function searchRecord() {
        let article = $('#article').val();

        window.location.href = '{{urlfor "FavorRecordController.Get"}}' + '?ar=' + article;
    }
</script>