<script>
    /**
     * 添加角色
     * @param obj
     */
    function addRole(obj) {
        let modal = $(obj).parents('.modal'),
            name = $.trim(modal.find('#name').val()),
            displayName = $.trim(modal.find('#display-name').val());

        $.ajax({
            url: '{{urlfor "RoleController.Post"}}',
            type: 'post',
            dataType: 'json',
            data: {
                _xsrf: GToken,
                name: name,
                displayName: displayName
            },
            beforeSend: function () {
                if (name.length == 0) {
                    modal.find('.error').text('请填写角色名称');
                    return false;
                }

                if (displayName.length == 0) {
                    modal.find('.error').text('请填写显示名称');
                    return false;
                }
            },
            success: function (data) {
                if (data.code === 200) {
                    window.location.href = '{{urlfor "RoleController.Get"}}';
                } else {
                    modal.find('.error').text(data.msg);
                }
            }
        });
    }

    /**
     * 删除角色
     * @param id
     */
    function deleteRole(id) {
        swal({
            title: '确定要删除吗？',
            icon: 'warning',
            buttons: ['取消', '确定']
        }).then(function (opt) {
            if (opt) {
                $.post('{{urlfor "RoleController.Delete"}}', {
                    _xsrf: GToken,
                    id: id
                }, function (data) {
                    ajaxRequestSuccess(data);
                })
            }
        })
    }
</script>